 <!-- Start Header -->
 <header id="header">
    <div class="container d-flex">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="index.html">BANANA INC.</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="{% static 'assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="{% url 'index' %}">Home</a></li>
          <li class="drop-down"><a href="">About</a>
            <ul>
              <li><a href="aboutbananait.html">Banana IT</a></li>
              <li class="drop-down"><a href="{% url 'ourteam' %}">Out Team</a>
                <ul>
                  <li><a href="ceo.html">CEO &amp; Founder</a></li>
                  <li><a href="ourdeveloper.html">Our Developer</a></li>                 
                </ul>
              </li>
              <li><a href="testimonials.html">Testimonials</a></li>
              <li><a href="#">Blog</a></li>              
            </ul>
          </li>         
          <li><a href="services.html">Services</a></li>
          <li><a href="portfolio.html">Portfolio</a></li>         
          <li><a href="{% url 'translate' %}">Translate</a></li>
          <li><a href="client.html">Client</a></li>
          
          {% comment %} <li class="drop-down"><a href="">Drop Down</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="drop-down"><a href="#">Drop Down 2</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
              <li><a href="#">Drop Down 5</a></li>
            </ul>
          </li> {% endcomment %}          
          <li class="drop-down"><a href="">Contact</a>
            <ul>
              <li><a href="career.html">Career</a></li>
              <li class="drop-down"><a href="pricing.html">Pricing</a>
                <ul>
                  <li><a href="#">Product Wise</a></li>
                  <li><a href="#">Technology Wise</a></li>                 
                </ul>
              </li>
              <li><a href="contact.html">Contact</a></li>              
            </ul>
          </li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->
