 {% extends 'base.html' %}
 {% load static %} 
 {% block container %}

<main id="main">


    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Testimonials</h2>
          <ol>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li>Testimonials</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container">

        <div class="row">
          {% for testimonial in testimonials %}
          <div class="col-lg-6" data-aos="fade-up">
            <div class="testimonial-item">
              <img src="{{testimonial.photoimage.url}}" class="testimonial-img" alt="">
              <h3>{{testimonial.title}}</h3>
              <h4>{{testimonial.designation}}</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                {{testimonial.description}}
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          {% endfor %}
        </div>

      </div>
    </section><!-- End Testimonials Section -->

  </main><!-- End #main -->
  {% endblock %}